table.imagetable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#ffffff;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}
table.imagetable th {
    background:#468847 ;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
table.imagetable td {
    /*background:#dcddc0 ;*/
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

<!-- footer -->
footer{position:relative;width:100%;}
footer .signature{position:absolute;right:20px;bottom:5px;color:#999;}
